.button {
    padding: 10px 15px;
    background: $red;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;

    &--dark {
        background: none;
        border: 2px solid $red;
    }

    @media(max-width: 1250px) {
        font-size: 14px;
    }
}

.location-btn {
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 14px;

    &__icon {
        width: 12px;
        height: 18px;
        margin-right: 10px;
    }

    @media(max-width: 990px) {
        font-size: 12px;

        &__icon {
            width: 10px;
            height: 16px;
            margin-right: 5px;
        }
    }
}

.menu-button {
    display: none;

    @media(max-width: 990px) {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: auto;
        transition: 0.3s;

        &__icon {
            width: 100%;
            height: 100%;
            stroke: $black;
            stroke-width: 2px;
            stroke-linecap: round;
    
            &--cross {
                display: none;
            }
        }
    }

    @media(max-width: 670px) { 
        &__icon {
            stroke: rgba(255, 255, 255, 0.7);
        }
    }

    @media(max-width: 480px) {
        width: 35px;
        height: 35px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: relative!important;
    top: auto;
    left: auto;
    right: auto;
    width: 44px;
    height: 44px;
    border: 1px solid $red;
    border-radius: 50%;
    margin: 0;
    margin-left: 15px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 10px;
        background: $red;
        font-size: 0;
        left: 45%;
        transform: rotate(45deg) translate(-50%, -22%);
    }
    &:after {
        transform: rotate(-45deg) translate(-50%, 22%);
    }

    @media(max-width: 990px) {
        width: 35px;
        height: 35px;

        &:before,
        &:after {
            left: 41%;
        }
    }

    @media(max-width: 480px) {
        margin-left: 0;
    }
}

.swiper-button-next {
    &:before,
    &:after {
        left: 58%;
        transform: rotate(45deg) translate(-50%, 48%);
    }
    &:after {
        transform: rotate(-45deg) translate(-50%, -48%);
    }

    @media(max-width: 990px) {
        &:before,
        &:after {
            left: 61%;
        }
    }
}