.container {
    max-width: 1150px;
    margin: 0 auto;

    @media(max-width: 1250px) {
        max-width: 900px;
    }

    @media(max-width: 990px) {
        max-width: 100%;
        padding: 0 40px;
    }
    
    @media(max-width: 670px) {
        padding: 0 20px;
    }
}