.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $lightgray url("../../assets/img/intro-bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 500px;
    margin: 35px 0;

    .main-title {
        color: white;
        width: 60%;
        margin-left: 50px;
    }

    @media(max-width: 990px) {
        height: calc(100vw / 2);
        
        .main-title {
            width: 460px;
        }
    }

    @media(max-width: 670px) {
        .main-title {
            width: 325px;
            margin-left: 20px;
        }
    }

    @media(max-width: 480px) { 
        .main-title {
            width: 260px;
        }
    }
}