.main-footer {
    background: $black;
    color: white;
    border-top: 6px solid $red;
    padding-bottom: 40px;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-nav {
        width: 100%;
    }

    &__phones,
    &__mail {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    &__link {
        color: white;
        font-weight: 500;
        font-size: 14px;
    }

    @media(max-width: 990px) {
        padding-bottom: 20px;

        &__link {
            font-size: 12px;
        }
    }

    @media(max-width: 670px) {
        .container {
            display: block;
            text-align: center;
        }
        &__info-adress {
            font-size: 12px;
        }

        &__phones,
        &__mail {
            justify-content: center;
        }
    }

    @media(max-width: 480px) {
        &__info-adress {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
    }
}