.main-title {
    font-weight: 400;
    font-size: 50px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: justify;
}