.main-title {
    font-weight: 400;
    font-size: 50px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: justify;
}

@media(max-width: 990px) {
    .main-title {
        font-size: 40px;
    }

    .title {
        font-size: 30px;
    }
    
    .sub-title {
        font-size: 20px;
    }
    
    .text {
        font-size: 14px;
        line-height: 25px;
    }
}

@media(max-width: 670px) {
    .main-title {
        font-size: 28px;
    }

    .title {
        font-size: 24px;
    }
    
    .sub-title {
        font-size: 18px;
    }
    
    .text {
        line-height: 22px;
    }
}

@media(max-width: 480px) { 
    .main-title {
        font-size: 18px;
    }
}