body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body * {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input, textarea, button, select {
    background: none;
    border: none;
    resize: none;
    padding: 0;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
    transition: 0.3s;
}

img {
    object-fit: cover;
}

h1, h2, h3, h4, p {
    margin: 0;
}

pre {
    margin: 0;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

